
@media only all and (min-width: 1360px) and (max-width:1919px){
  :root{
  /* font-size */
    --fontSize_h2: 72px;
    --fontSize_h4: 24px;
    --fontSize_p: 16px;
    --fontSize_P_form: 16px;
    --fontSize_arrow:18px;
    --fontSize_label:14px;

     /* font-atributs */
    --fontWeight_discript: 500;
    --letterSpacing_discript: .8px;
    --fontFamily_discript: Anglecia;
    --fontFamily_paragraph: PT Root;
    --fontFamily_arrow: dripicons;
    --lineHeight_all: 1.4;

    /* colors */
    --color_BG:#1E1E1E;
    --color_h2:#be9b64;
    --color_arrow:#be9b64;
    --color_h4:#E4E4E7;
    --color_P:#E4E4E7;
    --color_form_P:#9b9b9b;

    /* paddding */
    --paddingTop:80px;
}



h2 {
  font-family: var(--fontFamily_discript);
  font-size: var(--fontSize_h2);
  font-weight: var(--fontWeight_discript);
  letter-spacing: var(--letterSpacing_discript);
  line-height: var(--lineHeight_all);
  color: var(--color_h2);
}
h4 {
  font-family: var(--fontFamily_discript);
  font-size: var(--fontSize_h4);
  font-weight:var(--fontWeight_discript);
  letter-spacing: var(--letterSpacing_discript);
  line-height:var(--lineHeight_all);
  color: var(--color_h4);
}
p {
  font-family: var(--fontFamily_paragraph);
  line-height: var(--lineHeight_all);
  color: var(--color_P);
  font-size: var(--fontSize_p);
}

.block{
    width: 100%;
    display: flex;
}
    .block_1 {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
position: relative;
    }

    .header {
      width: 98%;
      top:25px;
      align-items: center;
      background: none;
      display: flex;
      justify-content: center;
      position: relative;
      height: 30px;

  }
  .logo{
    z-index: 992;
  display: flex;
  justify-content: center;

  }
  g {
      fill: var(--color_h4);
    }
    .header-logo__svg {
      width: 400px;
      height: 100px;
    }


    

     .block_2 {
        height: 1155px;
        width: 1248px;
        align-items: center;
        background: #1e1e1e;
        display: flex;
        margin: 0 auto;
        flex-direction: column;

    }

    .discript_2 {
        width: 50%;
        padding-top: var(--paddingTop);
        margin-right: 50%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        animation-fill-mode: forwards;



    }

    .discript_2_1 {

    justify-content: space-evenly;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    padding-top: var(--paddingTop);

    }

    .discript_2_1 .p_1 {
        display: inherit;
        flex-basis: 50%;
         }

    .discript_2_1 .p_2 {
        display: inherit;
        flex-basis: 50%;
        }


    .discript_2_2 {
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        padding-top: var(--paddingTop);
        flex-direction: row;
    }


    .discript_2_2 .discript_2_2_1{
        display: inherit;
        flex-direction: column;
        width: 50%;
        justify-content: flex-end;
    }
    .discript_2_2 .discript_2_2_2{
        display: inherit;
        width: 50%;
    }

    .discript_2_2 .discript_2_2_2 img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    .p_3,
    .p_4 {
        text-align: left;
        width: 50%;
    }
    .p_4 {

      padding-top: var(--paddingTop);
    }

    .block_3 {
         width: 1248px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .discript_3 {
      padding-top: calc(var(--paddingTop)*2);
        display: inherit;
        width: 50%;
        margin-left: 50%;
        text-align: left;
    }

    .discript_3_1 {
        width: 25%;
        padding-top: var(--paddingTop);
        margin-left: 75%;
    }

    .p_5 {
        width: 100%;

    }

    .advantage {
        width: 1112px;
        display: flex;
        flex-direction: column;

    }

    .ser {
      padding-top: var(--paddingTop);
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        /* flex-direction: column;*/
    }

    .servis {
        flex-basis: 50%;
        /* height: 120px; */
        /* margin-left: 176px;*/
    }



    .servis p {
        width: 70%;
        color: var(--color_form_P);

    }

    .block_4 {
        width: 1248px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;

    }
    .discript_4{
        text-align: right;
        width: 25%;
        display: flex;
        padding-top: calc(var(--paddingTop)*2);
        margin-right: 50%;
        margin-left: 25%;
    }
    .discript_4_1 {

      padding-top: var(--paddingTop);
        width: 25%;
        margin-right:75%;

    }

    /*START slider*/

.slider {
    z-index: 200;
    width: 100%;
    max-width: 100%;
	display: flex;
	justify-content: space-between;
  padding-top: var(--paddingTop);
}



  .item.slick-slide {
    padding: 10px auto;
    width: 800px;
    height: 600px;
    overflow: hidden;
    transition: transform .4s;
    position: relative;
  }

  .slider img {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .item h4{
    position: absolute;
    left: 10%;
    bottom: 10%;
    opacity:1;
    z-index: 15;
    background: none;
  }

  .slick-prev {

  left: 200px;
  text-align: left;
  /* custom position left arrow*/
}
  .slick-prev:before {
      content: '';
    left: 200px;
    text-align: left;
    /* custom left arrow*/
  }

  .slick-next {
    right: 200px;
    text-align: right;
    /* custom position right arrow*/
  }

  .slick-next:before  {
    content: '';
    right: 200px;
    text-align: right;
    /* custom right arrow*/
  }


   /* custom left slider*/
  .item.slick-slide {
    transform: scale(0.7)  translate(-250px);
    transition: transform .6s cubic-bezier(.6,0,.41,1),min-width .6s cubic-bezier(.6,0,.41,1),opacity .6s cubic-bezier(.6,0,.41,1),-webkit-transform .6s cubic-bezier(.6,0,.41,1);
    transition-property: transform, min-width, opacity, -webkit-transform;
    transition-duration: 0.6s, 0.6s, 0.6s, 0.6s;
    transition-timing-function: cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1);
    transition-delay: 0s, 0s, 0s, 0s;
    will-change: width,height;
    opacity: 0.5;
  }
  /* custom right slider*/
  .item.slick-slide.slick-center + .slick-slide {
    transform: scale(0.7) translate(250px);
    transition: transform .6s cubic-bezier(.6,0,.41,1),min-width .6s cubic-bezier(.6,0,.41,1),opacity .6s cubic-bezier(.6,0,.41,1),-webkit-transform .6s cubic-bezier(.6,0,.41,1);
    transition-property: transform, min-width, opacity, -webkit-transform;
    transition-duration: 0.6s, 0.6s, 0.6s, 0.6s;
    transition-timing-function: cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1);
    transition-delay: 0s, 0s, 0s, 0s;
    will-change: width,height;
    z-index: 10;
    opacity: 0.5;
  }


  .item.slick-slide.slick-center {
    /* padding-top: 1%;
    padding-bottom: 1%; */
   transition-duration: .8s;
     transform: scale(1);
    transition-timing-function: cubic-bezier(.6,0,.41,1);
    opacity: 1;
  }


  .slick-center:after {
    opacity: 0;
  }

   /* style arrows */
  .prev-arrow:before,.next-arrow:before{
    font-family: dripicons;
    font-size: 18px;
    color: #be9b64;
    line-height: 1;
  }
/* style arrows hover & active */
  .prev-arrow:hover:before,.next-arrow:hover:before{
    font-family: dripicons;
    font-size: 18px;
    color: black;
    line-height: 1;
  }


  /* style arrow left */
  .slick-prev:before {
     content: "\55";
    display: flex;
    justify-content: center;
    opacity: 1;
}


/* style arrow right */
  .slick-next:before {
    content: "\56";
    display: flex;
    justify-content: center;
    opacity: 1;
 }


 .slick-prev,.slick-next{
  border: solid 1px #be9b64;
  background: none;
 height: 72px;
 width: 72px;
 z-index: 20;
 cursor: pointer;
}
 .slick-prev:hover, .slick-next:hover{
 background-color: #be9b64;
 }



/*END slider*/


.block_5 {
    align-items: center;
    width: 1248px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

}
.discript_5 {
  padding-top: calc(var(--paddingTop)*2);
  display: inherit;
  width: 50%;
  margin-left: 50%;
  text-align: left;
}
.discript_5_1{
    width: 25%;
    padding-top:var(--paddingTop);
    margin-left: 75%;
}
/* Gallery container */
.gallery{
  height: 800px;
  width: 100%;
 }


.gallery_main ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.gallery_main li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
    width: 100%;
}
.gallery_main {
  height: 580px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.gallery_main img {
      display: block;
    height: auto;
    max-width: 100%;
}

  .model-1{
      display: flex;
  }
  .gal{
    max-width: 65%;
    padding-top: 1.5%;
}
  /* End Gallery */
    .form{
        width: 100%;
        justify-content: space-between;
        display: flex;
        padding-top: var(--paddingTop);
        padding-top: 80px;
        position: relative;
    }



    /* .inp{
        display: flex;
        flex-direction:column;
    } */
    input,select{
        height: 82px;
        width: 384px;
        color: #9b9b9b;
        border: none;
        border-bottom: 1px solid #4a4a4a;
        outline: none;
        font-size: 20px;


    }
    select option{
        width: 384px;
    }
    .inp .inline_block{
        display: inline;
    }
    .inp label {
        display: block;
        width: 344px;
        top: 75px;
        left: 0;
        padding-top: 15px;
    }
     label {
      font-size: var(--fontSize_label);
      font-family: PT Root;
        color: var(--color_form_P);
        line-height: var(--lineHeight_all);
      }
      .inp label+input:focus  {
        color: #9b9b9b;
        border: none;
       top: 20px;
        border-bottom:1px solid #4a4a4a ;

      }
.inp label:focus{
 margin-top: 10px;
 }
.area{
width: 384px;
height: 140px;
color: #9b9b9b;
font-size: 20px;
margin-top: 20px;
}
/* button{
    width: 176px;
  height: 60px;
  background: #be9b64;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
} */


.block_6{
  display: flex;
    width: 100%;background: #fff;
    margin-top:var(--paddingTop);

}
.footer{
  width: 1248px;
  height: 200px;
  padding-top: var(--paddingTop);
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
}

.block_6 p{

  color: var(--color_BG);

}
.block_6 a{
font-size: var(--fontSize_p);
font-family: var(--fontFamily_paragraph);
color: var(--color_BG);
text-decoration: none;
}
.logos,.contact,.PP,.zholud{
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  height: 50%;
  padding: 0;
  margin: 0;
  border: none;
}
#loader {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.landscape-splash {
  display: none;
}
}

