label.error {
    color: red;
    font-family: PT Root !important;
    padding-top: 2% !important;
    font-size: 14px;
    padding-left: 5%;
}

.contact-us-form.inp label {
    top: auto;
    left: 0;
    padding-top: 0;
}

.required-star {
    color: var(--color_h2) !important;
    display: contents;
}
.contact-us-form.inp .submit-container {
    display: flex !important;
    justify-content: space-between;
    width: 105%;
}

.contact-us-form.inp .submit-container .submit-container-button {
    display: inherit;
    width: inherit;
}

.contact-us-form.inp .submit-container .rules-text {
    display: inherit;
    width: 68%;
    text-align: end;
}

.contact-us-form.inp .submit-container .submit-button {
    background-color: #be9b64;
    font-family: PT Root !important;
    color: var(--color_BG);
    width: 85%;
    height: 60px;
    font-size: var(--fontSize_P_form);
}

.contact-us-form.inp .submit-container .submit-button:hover {
    /* background-color: #d8b57f; */
    cursor: pointer;
}

.textarea-border {
    position: initial !important;
}

.contact-us-form.inp @font-face {
font-family: "Montserrat-Regular";
src: url("../Font/Montserrat/Montserrat-Regular.ttf"); }
.contact-us-form.inp @font-face {
font-family: "Montserrat-Bold";
src: url("../Font/Montserrat/Montserrat-Bold.ttf"); }
.contact-us-form.inp @font-face {
font-family: "Montserrat-SemiBold";
src: url("../Font/Montserrat/Montserrat-SemiBold.ttf"); }

.contact-us-form.inp input, textarea, button {
    color: #fff;
    font-size: 15px;
}

:focus {
outline: none; }

.contact-us-form.inp textarea {
    resize: none;
}

.contact-us-form.inp .form-group {
    position: relative;
    display: block;
    margin-bottom: 30px; }
.contact-us-form.inp .form-group span {
    font-size: var(--fontSize_P_form);
    font-family: PT Root !important;
    color: var(--color_form_P);
    position: absolute;
    top: 11px;
    transition: all .2s ease;
    transform-origin: 0 0;
    cursor: text;
    font-family: inherit;
    padding-left: 5%;
}
/* active input border style */
.contact-us-form.inp .form-group span.border {
    height: 1px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 42px;
    transform: scaleX(0);
    transition: all .15s ease;
    background: var(--color_arrow);
}

.contact-us-form.inp .form-control {
    border: none;
    border-bottom: 1px solid var(--color_form_P);
    font-size: var(--fontSize_P_form) !important;
    font-family: PT Root !important;
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    background: none;
    font-family: inherit;
    padding-left: 5%;
}

.form-control:focus, .form-control:invalid {
    border-bottom: 1px solid var(--color_arrow);
}
.form-control:focus + span, .form-control:invalid + span {
    transform: translateY(-22px) scale(0.8);
}
.form-control:focus + span + .border, .form-control:invalid + span + .border {
      transform: scaleX(1);
}

.contact-us-form.inp .form-control:focus {
    border-bottom: 1px solid var(--color_arrow);
}
.contact-us-form.inp .form-control:focus + span {
    transform: translateY(-22px) scale(0.8);
}
.contact-us-form.inp .form-control:focus + span + .border {
    transform: scaleX(1);
}

.contact-us-form.inp textarea.form-control {
    font-family: PT Root !important;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
}

.contact-us-form.inp .cars-list {
    background: none;
    width: 105%;
    padding-left: 5%;
    height: 50px;
    border-bottom: 2px solid var(--color_form_P);
    font-family: inherit;
}
.cars-list option {
    color: black;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0px;
}

/* gallery mini image size */
.lSSlideOuter .lSPager.lSGallery{
width: 500px !important;
display: flex;
justify-content: flex-start;
}

.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.lSSlideOuter .lSPager.lSGallery li.active img {
    opacity: 1 !important;
}

.lSAction {
    display: none !important;
}

