.modal-menu {
    height: 100vh;
    display: flex;
    padding: 5% 5% 0 5%;
    justify-content: space-around;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    z-index: 993;
    background-color: var(--color_BG);
    bottom: 100%;
    right: 0;
    left: 0;
    max-height: 100%;
    opacity: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: -webkit-transform 0.6s cubic-bezier(0.42, 0, 0.58, 1), opacity 0s 0.6s;
    transition: transform 0.6s cubic-bezier(0.42, 0, 0.58, 1), opacity 0s 0.6s;
}

.modal-menu.active {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 1;
    transition: -webkit-transform 0.6s cubic-bezier(0.42, 0, 0.58, 1), opacity 0s 0s;
    transition: transform 0.6s cubic-bezier(0.42, 0, 0.58, 1), opacity 0s 0s;
}

/* .modal-menu .contact-us-form.inp {
    padding-right: 4%;
} */
.modal-menu-gallery {
    width: 58%;
    height: auto;
}

/* .modal-gallery.modal-menu-gallery .lSSlideOuter .lSPager.lSGallery img {
    height: 17vh;
    width: 100%;
} */

.modal-gallery.modal-menu-gallery .lSSlideOuter {
    height: 90vh;
}

/* .modal-gallery.modal-menu-gallery .lSSlideWrapper {
    height: 80%;
} */

/* .modal-gallery.modal-menu-gallery .lSPager {
    height: 20%;
} */

.modal-menu-gallery ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.modal-menu-gallery li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.modal-menu-gallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
/* desktop_hd */
@media only all and (min-width: 1920px){
 .modal-gallery.modal-menu-gallery .lSSlideOuter {
    height: 764px !important;
    }

    #modal-contact-us-form .form-group {
        position: relative;
        display: block;
        margin-bottom: calc((100%-758)/6);
    }
    #contact-us-form .form-group {
        position: relative;
        display: block;
        margin-bottom: 36px;
    }
}
/* desktop */
@media only all and (min-width: 1360px) and (max-width:1919px){
    #modal-contact-us-form .form-group {
        position: relative;
        display: block;
        margin-bottom: 24px;
    }
    #contact-us-form .form-group {
        position: relative;
        display: block;
        margin-bottom: 32px;
    }
    #modal-contact-us-form .form-group {
        position: relative;
        display: block;
        margin-bottom: calc((100%-758)/12) !important;
    }

}
/* desktop_min*/
@media only all and (min-width: 1024px) and (max-width: 1359px) {
    .lSSlideOuter .lSPager.lSGallery {
        /* width: 300px !important; */
        display: flex;
        justify-content: flex-start;
    }
    .modal-menu-gallery {
        width: 600px;
        height: 40vh;
    }

    .lSSlideOuter .lSPager.lSGallery {
        width: 600px !important;
        display: flex;
        justify-content: flex-start;
    }
    .gallery_main>.lSSlideOuter .lSGallery {
        width: 644px !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    #modal-contact-us-form .form-group {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }
    #contact-us-form .form-group {
        width: 300px;
        position: relative;
        display: block;
        margin-bottom: 28px;
    }

}

/*tablet*/
@media only all and (min-width: 768px) and (max-width: 1023px) {
    .modal-menu {
        height: 100vh;
        display: block;
        padding: 5% 5% 0 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        z-index: 993;
        background-color: var(--color_BG);
        bottom: 100%;
        right: 0;
        left: 0;
        max-height: 100%;
        opacity: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        transition: -webkit-transform 0.6s cubic-bezier(0.42, 0, 0.58, 1), opacity 0s 0.6s;
        transition: transform 0.6s cubic-bezier(0.42, 0, 0.58, 1), opacity 0s 0.6s;
    }

    .modal-menu .inp {
        display: flex;
        padding-top: 24%;
        padding-right: 0 !important;
        /* padding-left: 3%; */
    }

    #modal-menu .contact-us-form.inp .form-control{
        width: 90%;
    }

 
    .modal-menu-gallery {
        width: 100%;
        /* height: 40vh; */
    }
    .lSSlideOuter .lSPager.lSGallery {
        width: 100% !important;
        display: flex;
        /* justify-content: center; */
    }

    .modal-gallery.modal-menu-gallery {
        padding-top: 8%;
    }

  
    .modal-gallery.modal-menu-gallery>.lSSlideOuter {
        height: auto !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }

    .gallery-main >.lSSlideOuter {
        height: 528px !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    
    .right {
        flex: 50%;
    }

    .left {
        flex: 50%;
    }

    #modal-menu select { margin: 0 0 0 3% }

    #modal-menu .contact-us-form.inp .cars-list {
        width: 95%;
        height: 45px;
        padding-left: 1%;
    }

    #modal-menu .details {
        width: 93.2%;
        margin-left: 1%;
    }

    #modal-menu .details #modal-details {
        width: 100%;
        height: 40px;
    }

    #modal-menu .form-group.details span.border  {
        width: 100% !important;
    }

    #modal-menu .details .input-name {
        padding-left: 1%;
    }

    #modal-menu .contact-us-form.inp .form-group span.border {
        width: 90%;
        left: 10px;
        top: 42px;
    }
}

/*mobile*/
@media only all and (min-width: 320px) and (max-width: 767px) {
    .modal-menu {
        height: 100vh;
        display: block;
        padding: 0 5% 0 5%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        z-index: 993;
        background-color: var(--color_BG);
        bottom: 100%;
        right: 0;
        left: 0;
        opacity: 0;
        max-height: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        transition: -webkit-transform 0.6s cubic-bezier(0.42, 0, 0.58, 1), opacity 0s 0.6s;
        transition: transform 0.6s cubic-bezier(0.42, 0, 0.58, 1), opacity 0s 0.6s;
    }

    #modal-contact-us-form {
        height: 250px;
    }

    .modal-menu-gallery {
        height: auto;
        padding-top: 20%;
    }

    .lSSlideWrapper {
        max-width: 100%;
        overflow: hidden;
        height: auto;
    }
    .lSSlideOuter {
        max-width: 400px;
        height: 100% !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    .modal-menu-gallery {
        width: 100%;
        /* height: 100%; */
    }

    .gallery_main > .lSSlideOuter {
        max-width: 300px;
        height: 400px !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }

    .gallery_main .lSSlideOuter .lSPager.lSGallery {
        width: 100% !important;
        display: flex;
        /* justify-content: center; */
    }

    .modal-gallery.modal-menu-gallery .lSSlideOuter {
        height: 45vh;
    }
    .lSSlideOuter .lSPager.lSGallery {
        width: 92% !important;
        display: flex;
        /* justify-content: center; */
    }

    /*.modal-gallery.modal-menu-gallery {
        padding-top: 10%;
    }*/

    #modal-menu {
        overflow-x: hidden;
    }
    .form{
    max-width: 288px;
    }
    #modal-menu .inp{
        display: flex;
        flex-direction: column;
        padding-top: 15%;
        /* padding-left: 12%;
        padding-right: 10%; */
    }

    #modal-menu .inp label {
        width: 95%;
    }

    #modal-menu .inp .submit-container {
        width: 100%;
    }
}
