
@media only all and (min-width: 768px) and (max-width: 1023px) {
  :root{
    /* font-size */
   --fontSize_h2: 36px;
   --fontSize_h4: 24px;
   --fontSize_p: 16px;
   --fontSize_P_form: 16px;
   --fontSize_arrow:18px;

    /* font-atributs */
   --fontWeight_discript: 500;  
   --letterSpacing_discript: .8px;
   --fontFamily_discript: Anglecia;
   --fontFamily_paragraph: PT Root;
   --fontFamily_arrow: dripicons;
   --lineHeight_all: 1.4;

   /* colors */
   --color_BG:#1E1E1E;
   --color_h2:#be9b64;
   --color_arrow:#be9b64;
   --color_h4:#E4E4E7;
   --color_P:#E4E4E7;
   --color_form_P:#9b9b9b;

   /* paddding */
   --paddingTop:60px;
 } 
  
  
  
 h2 {
  font-family: var(--fontFamily_discript);
  font-size: var(--fontSize_h2);
  font-weight: var(--fontWeight_discript);
  letter-spacing: var(--letterSpacing_discript);
  line-height: var(--lineHeight_all);
  color: var(--color_h2);
}
h4 {
  font-family: var(--fontFamily_discript);
  font-size: var(--fontSize_h4);
  font-weight:var(--fontWeight_discript);
  letter-spacing: var(--letterSpacing_discript);
  line-height:var(--lineHeight_all);
  color: var(--color_h4);
}
p {
  font-family: var(--fontFamily_paragraph);
  line-height: var(--lineHeight_all);
  color: var(--color_P);
  font-size: var(--fontSize_p);
}
.block{
  width: 100%;
  display: flex;
}
  .block_1 {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;

  }

  .header {
    width: 98%;
    top:25px;
    align-items: center;
     background: none;
    display: flex;
    justify-content: center;
    position: relative;
    height: 30px;

}

.logo{
  z-index: 992;
  display: fixed;
  justify-content: center;

  }
  g {
      fill: var(--color_h4);
    }

    .header-logo__svg {
      display: flex;
      justify-content: center;
      width: 240px;
      height: 60px;
    }

.black {
  position: fixed;
  background-color: rgb(0, 0, 0,1);
  height: 80px;
  z-index: 998;
  top: 0;
  display: flex;
  width: 100%;
}


  .block_2 {
      width: 704px;
      align-items: center;
      background: #1e1e1e;
      display: flex;
      margin: 0 auto;
      flex-direction: column;

  }

  .discript_2 {
      width: 50%;
      padding-top: var(--paddingTop);
      margin-right: 50%;
      text-align: left;
      display: flex;
      justify-content: flex-end;



  }

  .discript_2_1 {
  flex-direction: column;  
  justify-content: space-evenly;
  width: 75%;
  display: flex;
  margin-left: 25%;
  padding-top: var(--paddingTop);

  }

  .discript_2_1 .p_1 {
      display: inherit;
      flex-basis: 50%;
       }

  .discript_2_1 .p_2 {
    padding-top: var(--paddingTop);
      display: inherit;
      flex-basis: 50%;
      }


  .discript_2_2 {
      width: 100%;
      justify-content: space-evenly;
      display: flex;
      padding-top: var(--paddingTop);
      flex-direction: row;
  }


  .discript_2_2 .discript_2_2_1{
      display: inherit;
      flex-direction: column;
      width: 50%;
      justify-content: flex-end;
  }
  .discript_2_2 .discript_2_2_2{
    height: auto;
    max-height: 100%;
      display: flex;
      max-width: 50%;
  }

  .discript_2_2 .discript_2_2_2 >img {
    width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  .p_3,
  .p_4 {
      text-align: left;
      width: 90%;
  }
  .p_4 {

      margin-top: 16px;
  }

  .block_3 {
       width: 704px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
  }

  .discript_3 {
    padding-top: calc(var(--paddingTop)*2);
      display: inherit;
      width: 50%;
      margin-right: 50%;
      text-align: left;
  }

  .discript_3_1 {
      width: 75%;
      padding-top: var(--paddingTop);
      margin-left: 25%;
  }

  .p_5 {
      width: 100%;

  }

  .advantage {
      width: 704px;
      display: flex;
      flex-direction: column;

  }

  .ser {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      /* flex-direction: column;*/
  }

  .servis {
      flex-basis: 50%;
      padding-top: var(--paddingTop);
      /* height: 120px; */
      /* margin-left: 176px;*/
  }



  .servis p {
      width: 80%;
      padding-top: 16px;
      color: var(--color_form_P);
  
  }

  .block_4 {
      width: 704px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;

  }
  .discript_4{
      text-align: left;
      width: 50%;
      display: flex;
      padding-top: calc(var(--paddingTop)*2);  
      margin-right: 75%;
      margin-left: 0%;
  }
  .discript_4_1 {
      
    padding-top: var(--paddingTop);
      width: 75%;
      margin-left:25%;
      
  }

  /*START slider*/

.slider {
  z-index: 200;
  width: 100%;
  max-width: 100%;
display: block;
padding-top: var(--paddingTop);
}


.slick-slider .slick-list {
  transform: none;
}

.item.slick-slide {
  padding: 10px auto;
  width: 800px;
  /* height: 520px; */
  overflow: hidden;
  transition: transform .4s;
  position: relative; 
}


.slider img {
  max-width: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.item h4{
  position: absolute;
  left: 10%;
  bottom: 10%;
  color: white;
  opacity:1;
  z-index: 15;
  background: none;
}

.slick-prev {

left: 200px;
text-align: left;
/* custom position left arrow*/
}
.slick-prev:before {
    content: '';
  left: 200px;
  text-align: left;
  /* custom left arrow*/
}

.slick-next {
  right: 200px;
  text-align: right;
  /* custom position right arrow*/
}

.slick-next:before  {
  content: '';
  right: 200px;
  text-align: right;
  /* custom right arrow*/
}


 /* custom left slider*/
.item.slick-slide {
  transform: scale(0.7)  translate(-150px);
  transition: transform .6s cubic-bezier(.6,0,.41,1),min-width .6s cubic-bezier(.6,0,.41,1),opacity .6s cubic-bezier(.6,0,.41,1),-webkit-transform .6s cubic-bezier(.6,0,.41,1);
  transition-property: transform, min-width, opacity, -webkit-transform;
  transition-duration: 0.6s, 0.6s, 0.6s, 0.6s;
  transition-timing-function: cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1);
  transition-delay: 0s, 0s, 0s, 0s;
  will-change: width,height;
  opacity: 0.5;
}
/* custom right slider*/
.item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.7) translate(150px);
  transition: transform .6s cubic-bezier(.6,0,.41,1),min-width .6s cubic-bezier(.6,0,.41,1),opacity .6s cubic-bezier(.6,0,.41,1),-webkit-transform .6s cubic-bezier(.6,0,.41,1);
  transition-property: transform, min-width, opacity, -webkit-transform;
  transition-duration: 0.6s, 0.6s, 0.6s, 0.6s;
  transition-timing-function: cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1), cubic-bezier(0.6, 0, 0.41, 1);
  transition-delay: 0s, 0s, 0s, 0s;
  will-change: width,height;
  z-index: 10;
  opacity: 0.5;
}


.item.slick-slide.slick-center {
  opacity: 1;
 transition-duration: .8s; 
   transform: scale(1); 
  transition-timing-function: cubic-bezier(.6,0,.41,1);
 
}


.slick-center:after {
  opacity: 0;
}

 /* style arrows */
.prev-arrow:before,.next-arrow:before{
  font-family: dripicons;
  font-size: var(--fontSize_arrow);
  color: var(--color_arrow);
  line-height: 1;
}
/* style arrows hover & active */
.prev-arrow:hover:before,.next-arrow:hover:before{
  font-family: dripicons;
  font-size:var(--fontSize_arrow);
  color: var(--color_BG);
  line-height: 1;
}


/* style arrow left */
.slick-prev:before { 
   content: "\55"; 
  display: flex;
  justify-content: center;
  opacity: 1;
}


/* style arrow right */
.slick-next:before { 
  content: "\56";
  display: flex;
  justify-content: center;
  opacity: 1;
}


.slick-prev,.slick-next{
border: solid 1px var(--color_arrow);
background: none;
height: 56px;
width: 56px;
z-index: 20;
cursor: pointer;
}
.slick-prev:hover, .slick-next:hover{
background-color: var(--color_arrow);
}
.slick-prev, .slick-next {
  top:112%
}


/*END slider*/


.block_5 {
  align-items: center;
  width: 704px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;

}
.discript_5 {
  padding-top: calc(var(--paddingTop)*3.8);
    display: inherit;
    width: 50%;
    margin-right: 50%;
    text-align: left;
} 
.discript_5_1{
  width: 75%;
  padding-top: 60px;
  margin-left: 25%;
}
/* Start Gallery */
.gallery{
  width: 100%;
 }
.gallery_main {
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}


.gallery-list{ 
  display: flex;
  padding: 0px;
  /* додаю ширину */
  width: 50%;
}
.gallery-item,.two{
  width: 200px;
  height: 100px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ;

}
.gallery-item.active,.gallery-item:hover,.two.active,.two:hover{
  opacity:1;
}
.gallery-item img{
  width: 100%;
}

.modelImg {
  display: none;
  }
  #model-1{
      display: flex;
  }
/* End Gallery */
  .form{
      width: 100%;
      justify-content: space-between;
      display: flex;
      padding-top: 80px;
      flex-direction: column;
  }


  .contact-us-form.inp .form-group span.border {
    display: none !important;
}

  .inp{
      padding-top: 16%;
      display: flex;
      max-width: 672px;
      flex-wrap: wrap;
      flex-direction: space-between;
  }
  .contact-us-form{
    display: flex;
    justify-content: space-between;
}

/* correct position top iput car */
#cars-list{
  margin-top: -6px;
}

#details{

  width: 672px;
}

.contact-us-form.inp .form-group {
  position: relative;
  display: block;
  margin-bottom: 40px;
}
  input,select{
      height: 82px;
  width: 313px;
  color: #9b9b9b;
  border: none;
  border-bottom: 1px solid #4a4a4a;
  outline: none;
  font-size: 20px;
  margin: 0 10px;


  }
  select option{
      width: 384px;
  }
  .inp label {
      display: block;
  width: 313px;
  position: relative;
  top: 75px;
  left: 16px;
  padding-top: 15px;
  }
 
  select{
      margin-top: 34px;
      
  }
   label {
      color: #9b9b9b;
    }
    .inp label+input:focus  {
      color: #9b9b9b;
      border: none;
      position: relative;
     top: 20px;
      border-bottom:1px solid #4a4a4a ;
      
    }
    .inp label:focus{
        margin-top: 10px;
    }
.area{
width: 100%;
height: 140px;
color: #9b9b9b;
font-size: 20px;
margin-top: 20px;
}
button{
  width: 176px;
height: 60px;
background: #be9b64;
margin-top: 40px;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-align: center;
border: none;
cursor: pointer;
}


.block_6{
  width: 100%;
  background: #fff;
  margin-top: var(--paddingTop);

}
.footer{
  width: 704px;
  height: 238px;
  padding-top: var(--paddingTop);
  flex-wrap:wrap;
  align-items: flex-start;
  margin: 0 auto;
  display: flex;
  background: #fff;
  flex-direction: inherit;
}

.block_6 p{
  color: var(--color_BG);

} 

.block_6 a{
  font-size: var(--fontSize_p);
  font-family: var(--fontFamily_paragraph);
  color: var(--color_BG); 
  text-decoration: none; 
 }
.logos,.contact,.PP,.zholud{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 28%;
  padding: 0;
  margin: 0px 18px;
  border: none;
}
#loader {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
    .lSSlideOuter {height: inherit}

    .lSSlideWrapper {height: inherit}

    .lSSlideWrapper img {
        max-height: 100%;
        max-width: 100%;
    }
    .lSSlideOuter .lSPager.lSGallery {
        position: absolute;
        width: 500px !important;
    }

    .landscape-splash {
      display: none;
    }
}
/* 
@media screen and (min-width: 768px) and (max-width: 900px)  and (orientation: portrait) {

  .landscape-splash {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color_BG);
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.landscape-splash__message {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.landscape-splash__message p {
  font-family:  PT Root;
  font-size: var( --fontSize_h4);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.landscape-splash__message svg {
  width: 22px;
  height: 30px;
padding-bottom: 20px;
}
} */