
@import url("../CSS/desktop_hd.css") all ;
@import url("../CSS/desktop.css")  all;
@import url("../CSS/desktop_min.css") all;
@import url("../CSS/tablet.css")  all;
@import url("../CSS/mobile.css")  all;
@import url("../CSS/lightslider.min.css") all;
@import url("../CSS/form.css")  all;
@import url("../CSS/modal-menu.css") all;
@import url("../CSS/loader.css") all;

* {
    margin: 0;
    padding: 0;
}
body{
    background: #1E1E1E;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #9b9b9b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #be9b64;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e2be8a;
}

@font-face {
    font-family: Anglecia;
    src: url('../Font/AngleciaProDisplay-Regular.otf');
}

@font-face {
    font-family: PT Root;
    src: url('../Font/PT\ Root\ UI_Light.woff');
}

@font-face {
    font-family: dripicons;
    src: url(../Font/dripicons-v2.woff);
    font-weight: lighter;
  }

@-webkit-keyframes autofill {
    to {
        color: var(--color_form_P);
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


